@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.bg-w{
    background-color: #ffffff;
}

.bg-body {
    background: #F7F7F9;
}
.br-t-r-88{
    border-top-right-radius: 80px 80px;
}

*{
    list-style: none;
    text-decoration: none;
}
.navbar-toggler-icon {
    background-image: url(images/navbar.svg);
}

 body {
    background: #F7F7F9;
 }
.logo {
    color: #6070FF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

.heading {
    background-color: #ffffff;
    background-image: url('images/Headerbg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 128px 24px 136px 24px;
    border-bottom-left-radius: 80px 80px;
}

@media (min-width: 992px) {
    .heading {
        padding: 15.9em 16.25em;
    }
}
.works {
    padding: 0 24px 114px 24px;
}

@media (min-width: 992px) {
    .works {
        padding: 8.875em;
    }
}
.work-list {
    background-color: #ffffff;
    margin-top: 88px;
}


.tech-list li {
    padding: 4px 12px;
    background: #EBEBFF;
    border-radius: 8px;
}

.about-me {
    padding: 128px 24px 136px 24px;
}

@media (min-width: 992px) {
    .about-me {
        padding: 8.875em 10.375em;
    }
}

.w-50 {
    width: 50%;
}

.language{
    padding-top: 48px;
}

.con {
    background-color: #6070FF;
    background-image: url('images/contactformbackground.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 128px 24px 136px 24px;
    border-top-left-radius: 80px 80px;
}

@media (min-width: 992px) {
    .con {
        padding: 8.875em 10.375em;
    }
}